.slider__list {
  list-style: none;
}

.features__item {
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
}

.slide__header {
  background-color: #eeeeee;
  &--super {
    background-color: #81b3d2;
  }
}
