.message__header {
  text-align: center;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 18px;
  margin: 0;
}

.message__label {
  display: flex;
  flex-direction: row;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: 58px;
  margin-top: 20px;
  margin-bottom: 20px;

  &--contacts {
    margin: 0;
    flex-direction: column;
  }
}

.message__contacts {
  padding-bottom: 20px;
}

.message__input {
  border: none;
  height: 58px;
  width: 100%;
  background-color: #eeeeee;
  margin-left: 19px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 900;

  &--phone,
  &--email {
    margin-left: 0;
  }
}

.message__letter {
  width: 280px;
  height: 160px;
  border: none;
  background-color: #eeeeee;
}

@media (min-width: @tablet-width) {
  .message {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 60px;
    margin-right: 60px;
  }

  .message__header {
    &--impression,
    &--user {
      text-align: left;
    }
  }

  .message__wrapper {
    display: flex;
    flex-direction: column;

    &--objects {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  .message__impression,
  .message__user {
    width: 50%;
  }

  .message__impression {
    order: -1;
  }

  .message__contacts,
  .message__emotions,
  .message__objects {
    width: 100%;
  }

  .message__objects {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .message__letter {
    width: 100%;
    margin-bottom: 40px;
  }

  .message__input {
    margin-left: 20px;

    &--email,
    &--phone {
      width: 100%;
    }
  }

  .message__label {
    &--checkbox {
      width: 50%;
    }
  }
}

@media (min-width: @desktop-width) {
  .message {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 60px;
    margin-right: 60px;
  }

  .message__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .message__contacts {
    flex-direction: row;
  }

  .message__label {
    &--contacts {
      flex-direction: row;
      width: 50%;
    }

    &--checkbox {
      width: 25%;
    }
  }

  .message__input {
    &--email,
    &--phone {
      margin-left: 20px;
      width: 60%;
    }
  }

  .message__objects {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
