.message {
  margin-top: -5px;
  margin-bottom: 55px;
}

.message__header {
  position: relative;
  text-align: center;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 18px;
  margin: 0;
  margin-bottom: 25px;

  &--impression {
    margin-top: 25px;
    margin-bottom: 47px;
  }

  &--objects {
    margin-top: 0;
    margin-bottom: 15px;
    line-height: 27px;
  }

  &--user {
    margin-bottom: 23px;
  }

  &::before {
    position: absolute;
    content: "";
    display: block;
    background-color: #d5d5d5;
    width: 320px;
    height: 1px;
    bottom: 41px;
  }

  &--objects::before {
    bottom: 70px;
  }
}

.message__after {
  position: absolute;
  right: 0;
  bottom: 0;
  display: inline-block;
  vertical-align: bottom;
  background-color: #d5d5d5;
  background-repeat: no-repeat;
  background-position: center;
  width: 58px;
  height: 58px;

  svg {
    width: 17px;
    height: 17px;
    margin-left: 21px;
    margin-top: 20px;
  }
}

.message__label {
  position: relative;
  display: flex;
  flex-direction: row;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 14px;
  margin: 20px 20px 20px 20px;
  line-height: 58px;

  &--contacts {
    margin-left: 40px;
    flex-direction: column;
    line-height: 25px;
    margin-top: 14px;
    margin-bottom: 0;
  }

  &--radio,
  &--checkbox {
    cursor: pointer;
    text-transform: none;
    font-size: 18px;
    font-weight: 900;
  }

  &--radio {
    margin-top: 0;
    line-height: 12px;
    margin-bottom: 14px;
  }

  &--checkbox {
    margin-top: 5px;
    margin-bottom: 22px;
    position: relative;
  }

  &--radio::before {
    content: "";
    display: inline-block;
    vertical-align: baseline;
    border: 17px solid #eeeeee;
    background-color: #eeeeee;
    border-radius: 50%;
    width: 21px;
    height: 21px;
    position: relative;
    bottom: 20px;
    margin-right: 21px;
  }

  &--checkbox::before {
    content: "";
    display: inline-block;
    vertical-align: baseline;
    background-color: #eeeeee;
    width: 56px;
    height: 56px;
    margin-right: 23px;
  }

  &--checkbox::after {
    content: "";
    display: none;
    width: 18px;
    height: 9px;
    background-color: transparent;
    border-left: 4px solid #000000;
    border-bottom: 4px solid #000000;
    transform: rotate(-45deg);
    position: absolute;
    left: 18px;
    top: 20px;
  }

  &--checkbox:hover::before {
    background-color: #e5e5e5;
  }

  &--checkbox:active::before {
    background-color: #d5d5d5;
  }

  &--radio:hover::before {
    background-color: #e5e5e5;
    border-color: #e5e5e5;
  }

  &--radio:active::before {
    background-color: #d5d5d5;
    border-color: #d5d5d5;
  }
}

.message__radio:checked + .message__label--radio::before {
  background-color: #333333;
}

.message__radio:checked + .message__label--radio:active::before {
  background-color: #a4a4a4;
}

.message__checkbox:checked + .message__label--checkbox::after {
  display: inline-block;
  vertical-align: baseline;
}

.message__checkbox:checked + .message__label--checkbox:active::after {
  opacity: 0.3;
}

.message__impression {
  padding-bottom: 8px;
}

.message__user {
  padding-bottom: 23px;
}

.message__contacts {
  padding-bottom: 21px;
}

.message__input {
  border: none;
  height: 58px;
  line-height: 58px;
  width: 100%;
  background-color: #eeeeee;
  margin-left: 17px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 900;
  padding: 0;
  padding-left: 20px;
  font-size: 18px;

  &::-webkit-input-placeholder,
  &::-moz-placeholder,
  &:-moz-placeholder,
  &:-ms-input-placeholder,
  &::placeholder {
    color: #000000;
    opacity: 1;
  }

  &:invalid {
    outline: 3px solid red;
  }

  &--phone,
  &--email {
    margin-left: -20px;
    margin-top: 5px;
  }

  &:hover {
    background-color: #e5e5e5;
  }

  &:active,
  &:focus {
    background-color: #ffffff;
    outline: 3px solid #e5e5e5;
  }
}

.message__letter {
  width: 255px;
  height: 145px;
  border: none;
  background-color: #eeeeee;
  margin-left: 20px;
  margin-top: -5px;
  margin-bottom: 28px;
  padding-top: 15px;
  padding-left: 20px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 26px;

  &::-webkit-input-placeholder,
  &::-moz-placeholder,
  &:-moz-placeholder,
  &:-ms-input-placeholder {
    color: #000000;
    opacity: 1;
  }

  &:hover {
    background-color: #e5e5e5;
  }

  &:active,
  &:focus {
    background-color: #ffffff;
    outline: 3px solid #e5e5e5;
  }
}

.message__required {
  display: none;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 14px;
}

@media (min-width: @tablet-width) {
  .message {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 25px;
    margin-bottom: 72px;
  }

  .message__header {
    letter-spacing: -0.02em;
    font-size: 22px;
    font-weight: 900;

    &--impression,
    &--user {
      margin: 0;
      margin-top: 0;
      text-align: left;
    }

    &--user {
      margin-left: 55px;
      margin-bottom: 58px;
    }

    &--impression {
      margin-bottom: 80px;
      margin-left: -2px;
    }

    &--contacts {
      margin-bottom: 25px;
    }

    &--objects {
      padding-left: 150px;
      padding-right: 150px;
      font-size: 21px;
    }

    &::before,
    &::after {
      position: absolute;
      top: 50%;
      content: "";
      display: inline-block;
      vertical-align: middle;
      width: 125px;
      height: 1px;
      background-color: #d5d5d5;
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
    }

    &--impression::before,
    &--impression::after,
    &--user::before,
    &--user::after {
      display: none;
    }
  }

  .message__wrapper {
    display: flex;
    flex-direction: column;

    &--objects {
      margin-top: 35px;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      margin-left: 59px;
    }

    &--submit {
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
    }
  }

  .message__required {
    display: inline-block;
    vertical-align: baseline;
    line-height: 63px;
  }

  .message__impression,
  .message__user {
    border-top: none;
    width: 50%;
    margin-bottom: 1px;
    padding-bottom: 20px;
  }

  .message__impression {
    position: relative;
    order: -1;

    &::after {
      position: absolute;
      display: block;
      content: "";
      width: 1px;
      height: 295px;
      top: 5px;
      right: -2px;
      background-color: #d5d5d5;
    }
  }

  .message__contacts,
  .message__emotions,
  .message__objects {
    width: 100%;
  }

  .message__objects {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 22px;
  }

  .message__letter {
    width: 97%;
    margin-left: 0;
    margin-top: 57px;
    margin-bottom: 35px;
  }

  .message__input {
    margin-left: 20px;

    &--email,
    &--phone {
      width: 100%;
      margin-left: -20px;
      margin-top: 7px;
    }
  }

  .message__label {
    margin-left: 58px;
    margin-right: 0;

    &--checkbox {
      width: 44%;
      margin-left: 0;
      margin-bottom: 24px;
    }

    &--radio {
      margin-left: 0;
      margin-bottom: 24px;
    }

    &--contacts {
      margin-left: 20px;
      margin-right: 0;
      margin-top: 0;
      margin-bottom: 27px;
      line-height: 23px;
    }
  }
}

@media (min-width: @desktop-width) {
  .message {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 13px;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 77px;
  }

  .message__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 60px;
    margin-right: 64px;

    &--submit {
      width: 100%;
      margin-right: 60px;
    }

    &--contacts {
      width: 100%;
      margin-right: 60px;
      justify-content: left;
    }
  }

  .message__contacts {
    margin-bottom: 0;
    flex-direction: row;
    padding-bottom: 10px;
  }

  .message__header {
    margin-left: 60px;
    margin-right: 60px;
    font-size: 21px;
    letter-spacing: 0.008em;

    &::before,
    &::after {
      width: 280px;
    }

    &--impression {
      margin-left: 72px;
      text-align: center;
    }

    &--contacts {
      margin-bottom: 67px;
    }

    &--objects {
      padding-left: 340px;
      padding-right: 340px;
    }

    &--user {
      margin-left: 79px;
    }
  }

  .message__label {
    margin-left: 79px;

    &--contacts {
      margin-left: -3px;
      flex-direction: row;
      width: 45%;
      line-height: 77px;
    }

    &--checkbox {
      margin-left: 0;
      width: auto;
    }

    &--radio {
      margin-left: 64px;
    }
  }

  .message__after {
    bottom: 12px;
    right: 82px;

    &--email {
      right: 5px;
    }

    svg {
      margin-bottom: 4px;
    }
  }

  .message__word {
    &--hidden {
      display: none;
    }
  }

  .message__input {
    &--email,
    &--phone {
      margin-left: 20px;
      width: 290px;
    }

    &--user {
      margin-right: 60px;
    }
  }

  .message__impression,
  .message__user {
    padding-bottom: 18px;
  }

  .message__objects {
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 19px;
  }

  .message__letter {
    width: 87%;
    margin-left: 60px;
  }
}
