.photo__header {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 900;
  font-size: 14px;
  text-transform: uppercase;
}

.photo__author {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.photo__like {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 900;
  font-size: 14px;
  line-height: 24px;
}
