.main-header {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-color: #81b3d2;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 200px;
  min-height: 380px;
}

@media (min-width: @tablet-width) {
  .main-header {
    width: 768px;
    margin-top: 60px;
  }
}
