.interest {
  text-align: center;
  margin-bottom: 20px;
}

.interest__header {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
}

.interest__info {
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  line-height: 24px;
}
