.interest {
  text-align: center;
  margin-bottom: 50px;
}

.interest__header {
  margin-top: 5px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: -0.02em;
}

.interest__info {
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  line-height: 24px;
  margin-bottom: 35px;
}

@media (min-width: @tablet-width) {
  .interest__header {
    font-size: 30px;
  }
}
