.intro__header {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 900;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
}

.intro__description {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}
