.intro {
  margin-bottom: 15px;
}

.intro__header {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 900;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 22px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 27px;
  padding-left: 30px;
  padding-right: 30px;
  letter-spacing: -0.01em;

  &--main {
    line-height: 26px;
  }
}

.intro__description {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 24px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 25px;

  &--main {
    padding-left: 30px;
    padding-right: 30px;
    line-height: 26px;
    margin-bottom: 12px;
  }
}

@media (min-width: @tablet-width) {
  .intro__header {
    font-size: 30px;
    line-height: 33px;
  }
}
