.modal {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 12%;
  top: 30%;
  text-align: center;
  background-color: #ffffff;
  width: 300px;

  &--closed {
    display: none;
  }
}

.modal__header {
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  font-weight: 900;
}

.modal__info {
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: @tablet-width) {
  .modal {
    left: 37%;
    width: 400px;
  }
}
