.more__list {
  list-style: none;
  padding: 0;
  margin-left: 70px;
}

.more__info {
  font-size: 14px;
  line-height: 27px;
}

.more__head {
  font-size: 21px;
}

@media (min-width: @tablet-width) {
  .more__list {
    display: flex;
    flex-direction: row;
    margin-left: 0;
  }

  .more-list__item {
    display: flex;
    flex-direction: column;
    text-align: center;
    min-height: 300px;
  }
}
