.main-nav__list {
  list-style: none;
  padding-left: 0;
  margin: 0;
  position: relative;
}

.main-nav__toggle {
  position: relative;
  left: 275px;
  top: -40px;
  border: none;
  background-image: linear-gradient(to bottom, #81b3d2 0px, #81b3d2 4px, #ffffff 4px, #ffffff 9px, #81b3d2 9px, #81b3d2 13px, #ffffff 13px, #ffffff 18px, #81b3d2 18px);
  width: 23px;
  height: 22px;
}

@media (min-width: @tablet-width) {
  .main-nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .main-nav__toggle {
    display: none;
  }
}
