.photo {
  margin-bottom: 24px;
}

.photo__header {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 900;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 0;
}

.photo__author {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin-top: 2px;
  margin-bottom: 9px;
}

.photo__image {
  margin-top: 15px;
}

.photo__like {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 900;
  font-size: 14px;
  line-height: 24px;
}

@media (min-width: @tablet-width) {
  .photo {
    position: relative;
    width: 50%;
    padding: 0;
    height: 347px;
    margin-bottom: 0;

    &:first-child {
      width: 100%;
      height: 480px;
      margin-top: 29px;
    }
  }

  .photo__controls {
    .flex(row, space-between);
    position: absolute;
    width: 100%;
    bottom: 5px;
  }

  .photo__name {
    .flex(column, left);
  }

  .photo__image {
    margin: 0;
  }

  .photo__header {
    margin-top: 13px;
  }

  .photo__header,
  .photo__author {
    margin-left: 20px;
  }

  .photo__like {
    margin-right: 30px;
    line-height: 70px;
  }
}

@media (min-width: @desktop-width) {
  .photo {
    width: 33.3%;
    height: 270px;

    &:first-child {
      height: 400px;
      margin-top: 30px;
    }
  }

  .photo__controls {
    bottom: 3px;
    padding-top: 10px;
    background-color: rgba(0, 0, 0, 0.2);

    &--first {
      bottom: 0;
    }
  }

  .photo__image {
    position: relative;
    width: 100%;

    &--first {
      height: 100%;
    }
  }

  .photo__header,
  .photo__author,
  .photo__like {
    color: #ffffff;
  }

  .photo__header {
    margin-top: 8px;

    &--first {
      margin-top: 9px;
    }
  }
}
