.slide {
  background-color: #eeeeee;

  &--super {
    background-color: #ffffff;
  }
}

.slide__br {
  display: none;
}

.slide__head {
  position: relative;
  margin: 0;
  margin-bottom: 10px;
  font-size: 18px;

  &::before {
    position: absolute;
    content: "";
    display: block;
    background-color: #d5d5d5;
    width: 280px;
    height: 1px;
    bottom: 52px;
    left: 20px;
  }

  &--first::before,
  &--super::before {
    display: none;
  }
}

.slide__number,
.slide__description {
  font-size: 14px;
  line-height: 22px;
}

.slide__number {
  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    display: inline-block;
    vertical-align: baseline;
    width: 8px;
    height: 2px;
    background-color: #000000;
    top: 9px;
  }

  &--super::before,
  &--super::after {
    background-color: #ffffff;
  }

  &::before {
    left: -14px;
  }

  &::after {
    left: 30px;
  }
}

.slide__image {
  height: 255px;
}

.slide__description {
  margin: 0;
  margin-top: 14px;
  padding-left: 35px;
  padding-right: 35px;

  &--super {
    padding-left: 25px;
    padding-right: 25px;
  }
}

.slide__header {
  text-align: center;
  background-color: #eeeeee;
  padding-top: 32px;
  padding-bottom: 24px;

  &--super {
    position: relative;
    padding-top: 40px;
    padding-bottom: 39px;
    background-color: #81b3d2;
    color: #ffffff;
    min-height: 100px;
  }

  &--first {
    padding-top: 60px;
    margin-top: -20px;
  }

  &--first::before {
    position: absolute;
    content: "";
    display: block;
    background-image: url("../img/bg-triangle.svg");
    background-repeat: no-repeat;
    width: 100%;
    height: 40px;
    top: -18px;
  }
}

@media (min-width: @tablet-width) {
  .slide {
    width: 33.3%;

    &--super {
      display: flex;
      flex-direction: row;
      width: 100%;
      flex-wrap: wrap;
    }

    &--super:nth-child(2n) {
      flex-direction: row-reverse;
    }
  }

  .slide__description {
    padding-left: 45px;
    padding-right: 45px;
    margin-top: 19px;
  }

  .slide__head {
    font-size: 22px;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 8px;
    line-height: 27px;

    &--super {
      padding-left: 25px;
      padding-right: 25px;
      margin-top: -2px;
    }

    &::before {
      display: none;
    }
  }

  .slide__number {
    margin-bottom: 7px;
  }

  .slide__header {
    padding-top: 45px;
    padding-bottom: 45px;

    &--first {
      margin-top: 0;
      padding-top: 45px;
    }

    &--first::before {
      display: none;
    }

    &--super {
      width: 256px;
      padding-bottom: 25px;
    }
  }

  .slide__image {
    .flex(column, right);
    min-width: 495px;
    overflow: hidden;
  }

  .slide__picture {
    width: 100%;
    height: 256px;
  }
}

@media (min-width: @desktop-width) {
  .slide {
    width: 400px;

    &--super {
      width: 100%;
    }
  }

  .slide__br {
    display: inline;
  }

  .slide__description {
    padding-left: 50px;
    padding-right: 50px;

    &--super {
      padding-left: 60px;
      padding-right: 60px;
    }
  }

  .slide__header {
    padding-top: 43px;
    padding-bottom: 65px;

    &--super {
      padding-top: 53px;
      padding-bottom: 52px;
      width: 400px;
    }
  }

  .slide__head {
    padding-left: 120px;
    padding-right: 120px;
  }

  .slide__image {
    height: 257px;
    justify-content: center;
  }

  .slide__picture {
    height: 100%;
  }
}
