.slide__head {
  font-size: 21px;
}

.slide__number,
.slide__description {
  font-size: 14px;
  line-height: 26px;
}

.slide__header {
  text-align: center;
  background-color: #eeeeee;
  padding-top: 33px;
  padding-bottom: 33px;

  &--super {
    padding-top: 45px;
    padding-bottom: 45px;
    background-color: #81b3d2;
    color: #ffffff;
  }
}

@media (min-width: @tablet-width) {
  .slide {
    width: 256px;
  }
}
