.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  z-index: -1;
}

body {
  background-color: #ffffff;
  width: 100%;
  margin: 0 auto;
  max-width: 320px;
}

.main {
  margin: 0;
  max-width: 100%;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  max-width: 320px;
}

a {
  text-decoration: none;
}

@media (min-width: @tablet-width) {
  body {
    min-width: @tablet-width;
  }

  .wrapper {
    min-width: @tablet-width;
  }
}

@media (min-width: @desktop-width) {
  html {
    background-color: #eeeeee;
  }

  body,
  .main {
    max-width: @desktop-width;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  }

  .main {
    margin: 0 auto;
  }

  .wrapper {
    min-width: @desktop-width;
    width: 100%;
  }
}
