@import "../less/blocks/header.less";
@import "../less/blocks/nav.less";
@import "../less/blocks/main.less";
@import "../less/blocks/footer.less";

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/ptsans.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/ptsans.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/ptsansbold.woff2") format("woff2");
  font-weight: 900;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/ptsansbold.woff") format("woff");
  font-weight: 900;
}

body { 
  background: green; 
}
